<div class="content">
  <div class="content" *ngIf="message">
    <label *ngIf="message.id">id:</label>
    <h3 *ngIf="message.id">{{message.id}}</h3>
    <label>Name:</label>
    <h3>{{message.username}}</h3>
    <label for="">Email:</label>
    <h3>{{message.email}}</h3>
    <label for="">Number:</label>
    <h3>{{message.number}}</h3>
    <label for="">Message:</label>
    <p>{{message.message}}</p>
  </div>
  <div class="content">
    <h1>Seach By Id </h1>
    <input matInput placeholder="Enter Message Id" [(ngModel)]="id">
    <button class="submit-btn" (click)="findById(id)" color="primary" mat-raised-button type="button">Search</button>
  </div>
